[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/fedeizzo/dotfiles.git
[submodule "sources"]
	path = sources
	url = https://github.com/fedeizzo/sources.git
[submodule "browser-home"]
	path = browser-home
	url = https://github.com/fedeizzo/browser-home.git
