$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

* {
    all: unset;
}

tooltip.background {
    background-color: $nord0;
    font-size: 18;
    border-radius: 10px;
    color: $nord4;
}

tooltip label {
    margin: 6px;
}

.dashboard {
    background-color: transparent;
    border-radius: 16px;
    opacity: 1;
}


.sys_info_slider scale trough highlight {
    all: unset;
    border-radius: 24px;
}

scale trough {
    all: unset;
    background-color: $nord2;
    border-radius: 24px;
    min-height: 130px;
    min-width: 12px;
    margin : 10px 0px 0px 0px;
}

.sys_info_icon_slider {
    font-size: 20px;
    margin: 10px;
    padding: 0px;
}

.volume {
    color: $nord7;
}

.volume scale trough highlight {
    background-color: $nord7;
}

.mic {
    color: $nord8;
}

.mic scale trough highlight {
    background-color: $nord8;
}

.brightness {
    color: $nord9;
}

.brightness scale trough highlight {
    background-color: $nord9;
}

.disk {
    color: $nord10;
}

.disk scale trough highlight {
    background-color: $nord10;
}
.onoff_btn {
    border-radius: 16px;
    padding: 16px;
    font-size: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: $nord13;
    background-color: $nord2;
    min-height: 36px;
    min-width: 36px;
}

.network_text {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    // min-width: 38px;
    color: $nord4;
}

.hour_class {
    color: $nord4;
    font-size: 42px;
    padding-top: 8px;
}

.hour_sep_class {
    color: $nord4;
    font-size: 42px;
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 8px;
}

.date_class {
    color: $nord3;
    font-size: 30px;
}

.date_sep_class {
    color: $nord3;
    font-size: 30px;
    margin-left: 6px;
    margin-right: 6px;
}

.hyprland_text {
    color: $nord4;
    font-size: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.workspaces {
    opacity: 0.6;
    padding: 8px;
    border-radius: 16px;
    font-size: 12px;
    background-color: $nord1;
}
.workspaces_battery_warning {
    border: 1px solid $nord11;
}

.workspace {
    color: $nord14;
}

.hide {
    color: $nord1;
}


/** Global *******************************************/
.card {
    background-color: $nord1;
    border-radius: 16px;
}

/** Clock ********************************************/
.time_hour, .time_min {
    color: $nord9;
    font-size : 70px;
    font-weight : bold;
}
.time_hour {
    margin : 15px 0px 0px 20px;
}
.time_min {
    margin : 0px 0px 10px 0px;
}

.time_mer {
    color: $nord14;
    font-size : 40px;
    font-weight : bold;
    margin : 20px 0px 0px 0px;
}

.time_day {
    color: $nord13;
    font-size : 30px;
    font-weight : normal;
    margin : 0px 0px 20px -20px;
}

/** Sys *********************************************/
.sys_info {
    background-color: $nord3;
    margin: 16px;
    border-radius: 10px;
    min-height: 32px;
    min-width: 32px;
}

.sys_info_icon {
    font-size: 30px;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
}
.sys_info_content {
    font-size: 30px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

.battery {
    color: $nord12;
}

.cpu {
    color: $nord13;
}

.temperature {
    color: $nord14;
}

.memory {
    color: $nord15;
}

/** Sys-slider ****************************************/
.iconvolume, .iconmic, .iconbright, .icondisk {
    font-size : 32px;
    font-weight : normal;
}
.iconvolume {
    color: $nord11;
}
.iconmic {
    color: $nord14;
}
.iconbright {
    color: $nord13;
}
.icondisk {
    color: $nord8
}

.volume_bar, .mic_bar, .bright_bar, .disk_bar, scale trough {
    all: unset;
    background-color: #3A404C;
    border-radius: 16px;
    min-height: 28px;
    min-width: 240px;
}

.volume_bar, .mic_bar, .bright_bar, .disk_bar, scale trough highlight {
    all: unset;
    border-radius: 16px;
}

.volume_bar scale trough highlight {
    background-color: $nord11;
}
.mic_bar scale trough highlight {
    background-color: $nord14;
}
.bright_bar scale trough highlight {
    background-color: $nord13;
}
.disk_bar scale trough highlight {
    background-color: $nord8;
}

/** Backup ********************************************/

.backup_icon {
    margin : 15px 0px 0px 20px;
    font-size: 79px;
    color: $nord4;
}

.backup_date {
    font-size: 25px;
    font-weight: bold;
    color: $nord4;
    margin: 0px 0px 20px -20px;
}

/** Volume ********************************************/
.volume_popup {
    padding: 8px;
    border-radius: 16px;
    font-size: 12px;
    background-color: $nord1;
}
