open_command=""

imgur_acct_key="{{ .imgur_acct_key }}"
imgur_secret="{{ .imgur_secret }}"
login="true"

screenshot_select_command="maim -s %img"

edit_command="gimp %img"

check_update="false"
keep_file="false"
file_dir="/tmp"

log_file="${HOME}/.cache/.imgur-screenshot.log"
