#bg {
    position: absolute;
    background-color: #2E3440;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    color: #D8DEE9;
    width: 99%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    font-family: monospace;
    font-size: 24px;
    }

.left { color: #BF616A !important; }

#home > * {
    display: inline-block;
    margin: 0 0rem;
}

#home > * > div {
    padding: 10px;
}

#home > .left > div { text-align: right; }
#home > .right > div { text-align: left; }

a {
    display: inline;
    text-decoration: none;
    color: white;
    transition: 0.4s
}

a:active, a:focus { outline: 0; }

a:hover { color: #B48EAD; }

.slash { display: inline; color: #A3BE8C; }
